* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    height: 100vh;
    background-image: url(images/stopWatch.2jpg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    padding: 12em 0;
}

.stopWatchHeading {
    text-align: center;
    margin: 10px 0;
    color: #fff;
    font-size: 40px;
}

.stopWatch {
    border: 3px solid transparent;
    width: 16em;
    margin: auto;
    border-radius: 7px;
    background-color: #e9e4e4;
    box-shadow: 0 0 6px 0px #fff;
}

.stopWatchDigits {
    border: 2px solid black;
    box-shadow: 0 0 7px #918080;
    display: flex;
    margin: 10px;
    border-radius: 7px;

}

.stopWatchDigits>h2 {
    margin: 0 16px;
}

.stopWatchBtns {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

.stopWatchBtns>button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

@media (max-width:620px) {
    .main {
        background-image: none;
        background-color: #898a95;

    }

    .stopWatchHeading {
        color: #000;
    }

    .stopWatch {
        box-shadow: 0 0 15px 0px #2e2e2e;
        border: 3px solid #000;
    }
}